<div class="row">
    <!-- Block du NgIf -->
    <div class="col">
        <h1 class="text-center">*NgIf</h1>
        <hr>
        <!-- ngIf: est égal une condition logique peut-être le résultat d'une fonction, d'une variable dans un composant n'importe quelque chose qui renvoie une condition logique cad vrai ou faux -->
        <div *ngIf="cacher" class="card text-white bg-primary mb-3" style="width: 100%;">
            <div class="card-body ">
                <!-- j'appel mon objet phrase creer dans body.component.ts -->
                <h2 class="card-title "> {{phrase.autor}} </h2>
                <p class="card-text"> {{phrase.bio}}
                </p>
            </div>
        </div>
        <!-- Je crée un évènement click
        Cacher = true
        Je prends la variable cacher elle va être égal à sa négation 
        cad si cacher est vrai la négation de vrai est faux cas contraire si cacher est faux sa négation est vrai  -->
        <button (click)="cacher = !cacher" class=" btn btn-primary btn-block"> Montrer / Cacher</button>
    </div>
    <!--  Block du NgFor -->
    <div class="col">
        <h1 class="text-center">*NgFor</h1>
        <hr>
        <ul class="list-group">
            <li class="list-group-item">Cras justo odio</li>

        </ul>

    </div>

</div>